<div>
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="lecturerOverview.submissionWindow.modalHeader"></h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
  </div>

  <div class="table-responsive" *ngIf="submissions">
    <table class="table table-striped">
      <thead>
        <tr>
          <th jhiTranslate="lecturerOverview.overviewTable.submissionTime">Time</th>
          <th jhiTranslate="lecturerOverview.overviewTable.submission">Submission</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of submissions">
          <td>{{ entry.instant }}</td>
          <td>{{ entry.submission }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
