<hr />
<h4 jhiTranslate="overview.student.header">My courses</h4>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th jhiTranslate="overview.student.designation">Designation</th>
        <th jhiTranslate="overview.student.term">Term</th>
        <th jhiTranslate="overview.student.year">Year</th>
        <th jhiTranslate="overview.student.instructor">Instructor</th>
        <th jhiTranslate="overview.student.exerciseSheetTaskOverview.fields.learningGoals">Goals</th>
        <th>Reached Goals</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.courseName }}</td>
        <td>{{ getTermI18NStringFromURL(course.termId) | translate }}</td>
        <td>{{ course.year }}</td>
        <td>{{ course.instructor }}</td>
        <td>
          <a
            ngbTooltip="{{ 'overview.student.exerciseSheetTaskOverview.goalAssignmentTooltip' | translate: { entity: course.courseName } }}"
            (click)="viewGoalAssignments(course)"
          >
            <fa-icon icon="bullseye"></fa-icon>
          </a>
        </td>
        <td>
          <a
            ngbTooltip="{{ 'overview.student.exerciseSheetTaskOverview.goalAssignmentTooltip' | translate: { entity: loginName } }}"
            (click)="viewReachedGoals(course)"
          >
            <fa-icon icon="check"></fa-icon>
          </a>
        </td>
        <td class="text-right">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-light btn-sm"
              [disabled]="course.initialSelfAssessmentCompleted"
              (click)="navigateToCourseSelfAssessment(course)"
            >
              <fa-icon icon="check-square"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="overview.student.showSelfAssessment">Show self assessment</span>
            </button>
            <button
              type="button"
              class="btn btn-info btn-sm"
              [disabled]="!course.initialSelfAssessmentCompleted"
              (click)="navigateToCourseAssignments(course)"
            >
              <fa-icon icon="tasks"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="overview.student.showAssignments">Show assignments</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
