<form [formGroup]="fileUploadGroup" (ngSubmit)="saveAsync()">
  <h5 jhiTranslate="shared.fileUpload.header">File upload</h5>

  <input
    type="file"
    [writeFile]="true"
    placeholder="Fileupload"
    (change)="fileChanged()"
    formControlName="fileUpload"
    class="form-control-file"
    *ngIf="!disabled"
  />

  <br *ngIf="fileId >= 0" />
  <ul *ngIf="fileId >= 0">
    <li class="bold-font">
      <span class="pointer hover-underline" (click)="downloadCurrentFile()"
        >{{ fileMetaData?.fileName }} - {{ fileMetaData?.submissionDate | date: 'dd.MM.yyyy HH:mm' }}</span
      >
      <span *ngIf="!disabled" class="pointer" (click)="removeCurrentFile()">
        <fa-icon icon="times"></fa-icon>
      </span>
    </li>
  </ul>

  <br />

  <button class="btn btn-primary" [disabled]="isSaving || disabled">
    <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
    <span *ngIf="isSaving">&nbsp;</span>
    <span jhiTranslate="shared.fileUpload.saveButton">Save upload</span>
  </button>
</form>
<!--<form (ngSubmit)="saveAsync()">-->
<!--  &lt;!&ndash;  this throws an error&ndash;&gt;-->
<!--  &lt;!&ndash;  <form [formGroup]="fileUploadGroup" (ngSubmit)="saveAsync()">&ndash;&gt;-->
<!--  <h5>File hochladen</h5>-->

<!--  <input-->
<!--    type="file"-->
<!--    placeholder="Fileupload"-->
<!--    (change)="fileChanged()"-->
<!--    formControlName="fileUpload"-->
<!--    class="form-control-file"-->
<!--    *ngIf="!disabled"-->
<!--  />-->
<!--  &lt;!&ndash;  this belongs up to input but it throws an error&ndash;&gt;-->
<!--  &lt;!&ndash;    [writeFile]="true"&ndash;&gt;-->

<!--  <br *ngIf="fileId >= 0" />-->
<!--  <ul *ngIf="fileId >= 0">-->
<!--    <li class="bold-font">-->
<!--      <span class="pointer hover-underline" (click)="downloadCurrentFile()"-->
<!--      >{{ fileMetaData?.fileName }} - {{ fileMetaData?.submissionDate }}</span-->
<!--      >-->
<!--      <span *ngIf="!disabled" class="pointer" (click)="removeCurrentFile()">-->
<!--&lt;!&ndash;        this throws an error&ndash;&gt;-->
<!--        &lt;!&ndash;        <fa-icon icon="times"></fa-icon>&ndash;&gt;-->
<!--      </span>-->
<!--    </li>-->
<!--  </ul>-->

<!--  <br />-->

<!--  <button class="btn btn-primary" [disabled]="isSaving || disabled">-->
<!--    <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--    <span *ngIf="isSaving">&nbsp;</span>-->
<!--    <span>Upload speichern</span>-->
<!--  </button>-->
<!--</form>-->
