<ng-template #learningGoalsTemplate let-item="item" let-onCollapseExpand="onCollapseExpand">
  <div class="form-inline row-item">
    <i *ngIf="item.children" class="mr-1" (click)="onCollapseExpand()" aria-hidden="true" [ngSwitch]="item.collapsed">
      <svg
        *ngSwitchCase="true"
        width="0.8rem"
        height="0.8rem"
        viewBox="0 0 16 16"
        class="bi bi-caret-right-fill"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
      </svg>
      <svg
        *ngSwitchCase="false"
        width="0.8rem"
        height="0.8rem"
        viewBox="0 0 16 16"
        class="bi bi-caret-down-fill"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
      </svg>
    </i>
    <label
      (contextmenu)="displayPriorityContextMenu($event, item); (false)"
      (click)="handleGoalClicked($event, item)"
      class="bi form-check-label"
      [ngClass]="{ private: item.markedAsPrivate, selected: selectedGoals.includes(item.value) }"
      >{{ item.text }}</label
    >
    <jhi-exercise-sheet-context-menu
      *ngIf="isContextMenuShown"
      [ngStyle]="getContextMenuStyle()"
      (selectionCancel)="prioritySelectionCancel()"
      (selectionSaved)="prioritySelected($event)"
      [priority]="currentPriority"
    >
    </jhi-exercise-sheet-context-menu>
  </div>
</ng-template>
<form name="updateForm" role="form" (ngSubmit)="save()" [formGroup]="updateForm">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="isNew" jhiTranslate="exerciseSheets.form.headerNew">Create new exercise sheet</h4>
    <h4 class="modal-title" *ngIf="!isNew">{{ 'exerciseSheets.form.headerEdit' | translate: { header: exerciseSheet?.name } }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
      <label class="form-control-label" for="name" jhiTranslate="exerciseSheets.form.fields.name">Name:</label>
      <input type="text" class="form-control" name="name" id="name" formControlName="name" #name />

      <div *ngIf="updateForm.get('name')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('name')?.errors?.required"
          jhiTranslate="exerciseSheets.form.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="difficulty" jhiTranslate="exerciseSheets.form.fields.difficulty">Difficulty:</label>
      <select class="form-control" name="difficulty" id="difficulty" formControlName="difficulty">
        <option value="" disabled>{{ 'exerciseSheets.form.difficultyPlaceholder' | translate }}</option>
        <option *ngFor="let difficulty of difficulties" [ngValue]="difficulty">{{ difficulty.text | translate }}</option>
      </select>

      <div *ngIf="updateForm.get('difficulty')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('difficulty')?.errors?.required"
          jhiTranslate="taskManagement.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="taskCount" jhiTranslate="exerciseSheets.form.fields.taskCount">Task count:</label>
      <input type="number" class="form-control" name="taskCount" id="taskCount" formControlName="taskCount" #taskCount />

      <div *ngIf="updateForm.get('taskCount')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('taskCount')?.errors?.required"
          jhiTranslate="exerciseSheets.form.error.required"
        >
          This field is required!
        </small>
        <small class="form-text text-danger" *ngIf="updateForm.get('taskCount')?.errors?.min" jhiTranslate="exerciseSheets.form.error.min1">
          The minimum value is 1!
        </small>
      </div>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="generateWholeExerciseSheet">
        <input
          class="form-check-input"
          type="checkbox"
          name="generateWholeExerciseSheet"
          id="generateWholeExerciseSheet"
          formControlName="generateWholeExerciseSheet"
        />
        <span jhiTranslate="exerciseSheets.form.fields.generateWholeExerciseSheet">Generate whole exercise sheet at once?</span>
      </label>
    </div>

    <h4 jhiTranslate="exerciseSheets.form.fields.learningGoals">Learning goals</h4>
    <jhi-learning-goal-treeview [items]="learningGoals" [itemTemplate]="learningGoalsTemplate"> </jhi-learning-goal-treeview>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="exerciseSheets.form.cancel">Cancel</span>
    </button>
    <button type="submit" [disabled]="updateForm.invalid || isSaving" class="btn btn-primary">
      <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
      <fa-icon *ngIf="!isSaving" icon="save"></fa-icon>&nbsp;<span jhiTranslate="exerciseSheets.form.save">Save</span>
    </button>
  </div>
</form>
