<form name="updateForm" role="form" (ngSubmit)="save()" [formGroup]="updateForm">
  <div class="modal-header">
    <h4 class="modal-title" [hidden]="!isNew" jhiTranslate="taskManagement.modal.newHeader">Create new task</h4>
    <h4 class="modal-title" [hidden]="isNew">{{ 'taskManagement.modal.editHeader' | translate: { taskHeader: taskModel?.header } }}</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
      <label class="form-control-label" for="header" jhiTranslate="taskManagement.fields.header">Header:</label>
      <input type="text" class="form-control" name="header" id="header" formControlName="header" />

      <div *ngIf="updateForm.get('header')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('header')?.errors?.required"
          jhiTranslate="taskManagement.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="creator" jhiTranslate="taskManagement.fields.creator">Creator:</label>
      <input type="text" class="form-control" name="creator" id="creator" formControlName="creator" />

      <div *ngIf="updateForm.get('creator')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('creator')?.errors?.required"
          jhiTranslate="taskManagement.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="organisationUnit" jhiTranslate="taskManagement.fields.organisationUnit"
        >Organisation unit:</label
      >
      <input type="text" class="form-control" name="organisationUnit" id="organisationUnit" formControlName="organisationUnit" />

      <div *ngIf="updateForm.get('organisationUnit')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('organisationUnit')?.errors?.required"
          jhiTranslate="taskManagement.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="privateTask">
        <input class="form-check-input" type="checkbox" name="privateTask" id="privateTask" formControlName="privateTask" />
        <span jhiTranslate="taskManagement.fields.privateTask">Private task</span>
      </label>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="taskDifficulty" jhiTranslate="taskManagement.fields.taskDifficulty">Task difficulty:</label>
      <select class="form-control" name="taskDifficulty" id="taskDifficulty" formControlName="taskDifficulty">
        <option value="" disabled>{{ 'taskManagement.difficultyPlaceholder' | translate }}</option>
        <option *ngFor="let difficulty of difficulties" [ngValue]="difficulty">{{ difficulty.text | translate }}</option>
      </select>
      <div *ngIf="updateForm.get('taskDifficulty')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('taskDifficulty')?.errors?.required"
          jhiTranslate="taskManagement.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="taskAssignmentType" jhiTranslate="taskManagement.fields.taskType">Task type:</label>
      <select
        class="form-control"
        name="taskAssignmentType"
        id="taskAssignmentType"
        formControlName="taskAssignmentType"
        (change)="taskTypeChanged()"
      >
        <option value="" disabled>{{ 'taskManagement.taskTypePlaceholder' | translate }}</option>
        <option *ngFor="let taskType of taskTypes" [ngValue]="taskType">{{ taskType.text | translate }}</option>
      </select>

      <div *ngIf="updateForm.get('taskAssignmentType')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('taskAssignmentType')?.errors?.required"
          jhiTranslate="taskManagement.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>
    <div class="form-group" *ngIf="isSQLTask || isRATask || isXQueryTask || isDLQTask">
      <label class="form-control-label" for="taskIdForDispatcher">
        {{ 'taskManagement.fields.taskIdForDispatcher' | translate }}
        <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.dispatcherIdInfo' | translate }}" placement="right"></fa-icon>
      </label>
      <input
        (change)="taskIdForDispatcherEntered()"
        type="number"
        class="form-control"
        name="taskIdForDispatcher"
        id="taskIdForDispatcher"
        formControlName="taskIdForDispatcher"
      />
    </div>

    <!-- APRIORI element start -->
    <div class="form-group" *ngIf="isSQLTask || isRATask || isXQueryTask || isDLQTask || isAprioriTask">
      <!-- APRIORI element end -->

      <label class="form-control-label" for="maxPoints" jhiTranslate="taskManagement.fields.maxPoints">Maximum Points:</label>
      <input type="number" class="form-control" name="maxPoints" id="maxPoints" formControlName="maxPoints" />
      <div *ngIf="updateForm.get('maxPoints')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('maxPoints')?.errors?.required"
          jhiTranslate="taskManagement.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>

    <!-- APRIORI start -->
    <div class="form-group" *ngIf="isAprioriTask">
      <label class="form-control-label" for="aprioriDatasetId" jhiTranslate="taskManagement.fields.datasetApriori"
        >Apriori task configuration ID:
      </label>
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.datasetInfo' | translate }}" placement="right"></fa-icon>
      <input type="text" class="form-control" name="aprioriDatasetId" id="aprioriDatasetId" formControlName="aprioriDatasetId" />

      <button type="button" class="btn btn-primary" style="margin-top: 10px" (click)="getAprioriLink()">
        <span jhiTranslate="taskManagement.fields.create">Create dataset and task config</span>
      </button>

      <button type="button" class="btn btn-primary" style="margin-top: 10px" (click)="getAprioriLinkTable()">
        <span jhiTranslate="taskManagement.fields.load">Load dataset and task config</span>
      </button>

      <p jhiTranslate="taskManagement.fields.taskIdApriori">
        Please copy the task configuration id from the extension and paste it into the field
      </p>
      <div *ngIf="updateForm.get('aprioriDatasetId')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('aprioriDatasetId')?.errors?.required"
          jhiTranslate="taskManagement.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>
    <!-- APRIORI end  -->

    <div class="form-group" *ngIf="isSQLTask || isRATask || isXQueryTask || isDLQTask">
      <label class="form-control-label" for="diagnoseLevelWeighting">
        {{ 'taskManagement.fields.diagnoseLevelWeighting' | translate }}
        <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.diagnoseLevelWeightingInfo' | translate }}" placement="right"></fa-icon>
      </label>
      <input
        type="number"
        class="form-control"
        name="diagnoseLevelWeighting"
        id="diagnoseLevelWeighting"
        formControlName="diagnoseLevelWeighting"
      />

      <div *ngIf="updateForm.get('diagnoseLevelWeighting')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="updateForm.get('diagnoseLevelWeighting')?.errors?.required"
          jhiTranslate="taskManagement.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>
    <div class="form-group" *ngIf="isSQLTask || isRATask">
      <label class="form-control-label" for="sqlCreateStatements" jhiTranslate="taskManagement.fields.sqlCreateStatements"
        >SQL Create-Table-Statements:</label
      >
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.sqlStatementsInfo' | translate }}" placement="right"></fa-icon>
      <ngx-monaco-editor
        [options]="editorOptionsReadOnly"
        id="sqlCreateStatements"
        formControlName="sqlCreateStatements"
      ></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isXQueryTask">
      <label class="form-control-label" for="xQueryDiagnoseXML" jhiTranslate="taskManagement.fields.xQueryDiagnoseXML"
        >XQuery: XML (Diagnose)</label
      >
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.xqueryXMLInfo' | translate }}" placement="right"></fa-icon>
      <ngx-monaco-editor
        [options]="editorOptionsXMLReadOnly"
        id="xQueryDiagnoseXML"
        formControlName="xQueryDiagnoseXML"
      ></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isXQueryTask">
      <label class="form-control-label" for="xQuerySubmissionXML" jhiTranslate="taskManagement.fields.xQuerySubmissionXML"
        >XQuery: XML (Submit)</label
      >
      <ngx-monaco-editor
        [options]="editorOptionsXMLReadOnly"
        id="xQuerySubmissionXML"
        formControlName="xQuerySubmissionXML"
      ></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isSQLTask || isRATask">
      <label
        class="form-control-label"
        for="sqlInsertStatementsSubmission"
        jhiTranslate="taskManagement.fields.sqlInsertStatementsSubmission"
        >SQL Insert-Into-Statements (Submission):</label
      >
      <ngx-monaco-editor
        [options]="editorOptionsReadOnly"
        id="sqlInsertStatementsSubmission"
        formControlName="sqlInsertStatementsSubmission"
      ></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isSQLTask">
      <label class="form-control-label" for="sqlInsertStatementsDiagnose" jhiTranslate="taskManagement.fields.sqlInsertStatementsDiagnose"
        >SQL Insert-Into-Statements (Diagnose):</label
      >
      <ngx-monaco-editor
        [options]="editorOptionsReadOnly"
        id="sqlInsertStatementsDiagnose"
        formControlName="sqlInsertStatementsDiagnose"
      ></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isDLQTask">
      <label class="form-control-label" for="datalogFacts" jhiTranslate="taskManagement.fields.datalogFacts">Datalog Facts</label>
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.datalogFactsInfo' | translate }}" placement="right"></fa-icon>
      <ngx-monaco-editor [options]="editorOptionsDLGReadOnly" id="datalogFacts" formControlName="datalogFacts"></ngx-monaco-editor>
    </div>

    <div class="form-group" *ngIf="isSQLTask || isRATask">
      <label class="form-control-label" for="sqlSolution" jhiTranslate="taskManagement.fields.sqlSolution">SQL solution:</label>
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.trySolutionInfo' | translate }}" placement="right"></fa-icon>
      <br />
      <button type="button" class="btn btn-secondary" *ngIf="!isNew" (click)="openSolutionRunnerWindow()">Try</button>
      <ngx-monaco-editor [options]="editorOptions" id="sqlSolution" formControlName="sqlSolution"></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isXQueryTask">
      <label class="form-control-label" for="xQuerySolution" jhiTranslate="taskManagement.fields.xQuerySolution">XQuery Solution:</label>
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.trySolutionInfo' | translate }}" placement="right"></fa-icon>
      <br />
      <button type="button" class="btn btn-secondary" *ngIf="!isNew" (click)="openSolutionRunnerWindow()">Try</button>
      <ngx-monaco-editor [options]="editorOptionsXQ" id="xQuerySolution" formControlName="xQuerySolution"></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isXQueryTask">
      <label class="form-control-label" for="xQueryXPathSorting" jhiTranslate="taskManagement.fields.xQuerySorting"
        >XQuery: XPath sorting</label
      >
      <ngx-monaco-editor [options]="editorOptions" id="xQueryXPathSorting" formControlName="xQueryXPathSorting"></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isDLQTask">
      <label class="form-control-label" for="datalogSolution" jhiTranslate="taskManagement.fields.datalogSolution">Datalog: Solution</label>
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.datalogSolutionInfo' | translate }}" placement="right"></fa-icon>
      <br />
      <button type="button" class="btn btn-secondary" *ngIf="!isNew" (click)="openSolutionRunnerWindow()">Try</button>
      <ngx-monaco-editor [options]="editorOptionsDLG" id="datalogSolution" formControlName="datalogSolution"></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isDLQTask">
      <label class="form-control-label" for="datalogQuery" jhiTranslate="taskManagement.fields.datalogQuery"> Datalog: Query </label>
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.datalogQueryInfo' | translate }}" placement="right"></fa-icon>
      <ngx-monaco-editor [options]="editorOptionsDLG" id="datalogQuery" formControlName="datalogQuery"></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isDLQTask">
      <label class="form-control-label" for="datalogUncheckedTerms" jhiTranslate="taskManagement.fields.datalogUncheckedTerms"
        >Datalog: Unchecked Terms</label
      >
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.datalogUncheckedTermInfo' | translate }}" placement="right"></fa-icon>
      <ngx-monaco-editor
        [options]="editorOptionsDLG"
        id="datalogUncheckedTerms"
        formControlName="datalogUncheckedTerms"
      ></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isXQueryTask">
      <label class="form-control-label" for="processingTime" jhiTranslate="taskManagement.fields.xQueryFileURL">XQuery- file url:</label>
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.xqFileUrlInfo' | translate }}" placement="right"></fa-icon>
      <input type="text" [disabled]="true" class="form-control" name="xQueryFileURL" id="xQueryFileURL" formControlName="xQueryFileURL" />
    </div>
    <div class="form-group">
      <label class="form-control-label" for="processingTime" jhiTranslate="taskManagement.fields.processingTime">Processing time:</label>
      <input type="text" class="form-control" name="processingTime" id="processingTime" formControlName="processingTime" />
    </div>
    <div class="form-group">
      <label class="form-control-label" for="url" jhiTranslate="taskManagement.fields.url">Url:</label>
      <input type="url" class="form-control" name="url" id="url" formControlName="url" />

      <div *ngIf="updateForm.get('url')!.invalid">
        <small class="form-text text-danger" *ngIf="updateForm.get('url')?.errors?.pattern" jhiTranslate="taskManagement.error.urlPattern">
          This optional field has to conform the URL standard!
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="instruction" jhiTranslate="taskManagement.fields.instruction">Instructions:</label>
      <quill-editor [placeholder]="''" id="instruction" formControlName="instruction"> </quill-editor>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="taskGroup" jhiTranslate="taskManagement.fields.taskGroup">Task group:</label>
      <select class="form-control" name="taskGroup" (change)="taskGroupChanged()" id="taskGroup" formControlName="taskGroup">
        <option value="">{{ 'taskManagement.fields.taskGroupPlaceHolder' | translate }}</option>
        <option *ngFor="let group of taskGroups" [value]="group.id">{{ group.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="fileUpload">Upload: </label>
      <fa-icon icon="info-circle" ngbTooltip="{{ 'taskManagement.fileUploadInfo' | translate }}" placement="right"></fa-icon>
      <jhi-file-upload
        id="fileUpload"
        [fileId]="uploadFileId"
        (fileAdded)="handleFileAdded($event)"
        (fileRemoved)="handleFileRemoved($event)"
        (fileModified)="handleFileMoved($event[0], $event[1])"
      >
      </jhi-file-upload>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="courseManagement.form.cancel">Cancel</span>
    </button>

    <button type="submit" [disabled]="updateForm.invalid || isSaving" class="btn btn-primary">
      <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
      <fa-icon *ngIf="!isSaving" icon="save"></fa-icon>&nbsp;<span jhiTranslate="courseManagement.form.save">Save</span>
    </button>
  </div>
</form>
