@font-face {
  font-family: serif;
  src: url('SourceSerif4-Medium.ttf');
}

@page {
  size: 8.5in 11in;
  margin: 0.2in;
  @bottom-center {
    content: counter(page) '/' counter(pages);
  }
}

body {
  font-family: serif;
}

table {
  width: 100%;
  table-layout: fixed;
  border: 0;
  border-collapse: collapse;
}

.twenty {
  width: 20%;
}

.eighty {
  width: 80%;
}

tr {
  margin: 0;
}

td {
  padding: 5px;
  margin: 0;
  height: 120%;
}

/* play with bg cells and cols ? */

.odd-column {
  background: dimgray;
}

.even-column {
  background: #888888;
}

.sheet-heading {
  margin: auto;
  align-content: center;
  text-align: center;
}

.task-heading {
  background-color: #3a87ad;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px solid black;
}

.task-details {
  padding-top: 0;
  padding-bottom: 0;
}

.task {
  background-color: #3a87ad;
  border: 1px solid black;
  margin-bottom: 30px;
  padding: 0;
  page-break-inside: avoid;
}

.tasks {
  padding: 0;
}
