<ng-template #goalTemplate let-item="item" let-onCollapseExpand="onCollapseExpand">
  <div class="form-inline row-item">
    <i *ngIf="item.children" class="mr-1" (click)="onCollapseExpand()" aria-hidden="true" [ngSwitch]="item.collapsed">
      <svg
        *ngSwitchCase="true"
        width="0.8rem"
        height="0.8rem"
        viewBox="0 0 16 16"
        class="bi bi-caret-right-fill"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
      </svg>
      <svg
        *ngSwitchCase="false"
        width="0.8rem"
        height="0.8rem"
        viewBox="0 0 16 16"
        class="bi bi-caret-down-fill"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
      </svg>
    </i>
    <label
      [contextMenu]="learningGoalCtxMenu"
      [contextMenuSubject]="item"
      (click)="onSelect(item)"
      class="bi form-check-label"
      [ngClass]="{ private: item.markedAsPrivate }"
      >{{ item.text }}</label
    >
    <span [hidden]="item.referencedFromCnt == 0">
      &nbsp;
      <span class="myBadge myBadge-info">{{ item.referencedFromCnt }}</span>
    </span>
  </div>
</ng-template>
<context-menu #learningGoalCtxMenu>
  <ng-template contextMenuItem [enabled]="isCurrentUserAllowedToEdit" (execute)="onCreateSubGoal($event.item)">
    <span jhiTranslate="learningGoalManagement.createSubGoal">Create sub goal</span>
  </ng-template>
  <ng-template contextMenuItem [divider]="true"></ng-template>
  <ng-template contextMenuItem [enabled]="isCurrentUserAllowedToEdit" (execute)="onManageSuperGoalRequested($event.item)">
    <span jhiTranslate="learningGoalManagement.addAsSubGoal">Add as sub goal</span>
  </ng-template>
  <ng-template contextMenuItem [divider]="true"></ng-template>
  <ng-template contextMenuItem [enabled]="isCurrentUserAllowedToEdit" (execute)="onEditGoalRequested($event.item)">
    <span jhiTranslate="learningGoalManagement.editGoal">Edit goal</span>
  </ng-template>
  <ng-template contextMenuItem [divider]="true"></ng-template>
  <ng-template contextMenuItem [enabled]="isCurrentUserAllowedToEdit" (execute)="onManageDependentGoalsRequested($event.item)">
    <span jhiTranslate="learningGoalManagement.manageDependencies">Manage dependencies</span>
  </ng-template>

  <ng-template contextMenuItem [divider]="true"></ng-template>
  <ng-template contextMenuItem [enabled]="canGoalBeRemoved" (execute)="onDelete($event.item)">
    <span jhiTranslate="learningGoalManagement.delete">Delete</span>
  </ng-template>
</context-menu>

<h1 class="text-center" jhiTranslate="learningGoalManagement.header">Learning goal management</h1>

<jhi-alert></jhi-alert>
<jhi-alert-error></jhi-alert-error>

<div class="text-right">
  <button type="button" class="btn btn-secondary" (click)="onCreateGoalRequested()" jhiTranslate="learningGoalManagement.createGoal">
    Create goal
  </button>
</div>
<div class="row">
  <div class="col-3">
    <h5 jhiTranslate="learningGoalManagement.filter.filter">Filter:</h5>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="showOnlyUserGoals"
        [ngModelOptions]="{ standalone: true }"
        (change)="onFilterChanged()"
      />
      <label class="form-check-label" jhiTranslate="learningGoalManagement.filter.onlyShowOwnGoals">Only show own learning goals?</label>
    </div>
    <br />

    <jhi-learning-goal-treeview [items]="learningGoals" [itemTemplate]="goalTemplate"> </jhi-learning-goal-treeview>
  </div>
  <div class="col-6">
    <jhi-learning-goal-display
      [learningGoalTreeviewItem]="selectedLearningGoal"
      [assignments]="learningGoalTasks"
      [dependencies]="learningGoalDependencies"
      [hidden]="showCreateLearningGoalComponent"
    ></jhi-learning-goal-display>
    <jhi-learning-goal-creation
      (learningGoalCreated)="loadLearningGoalsAsync()"
      (learningGoalUpdated)="loadLearningGoalsAsync()"
      (subGoalCreated)="loadLearningGoalsAsync()"
      [loggedInUser]="username"
      [hidden]="!showCreateLearningGoalComponent"
    >
    </jhi-learning-goal-creation>
  </div>
</div>
