<form (ngSubmit)="saveAsync()" [formGroup]="taskGroup">
  <div class="modal-header">
    <h4 class="modal-title" [hidden]="!isNew" jhiTranslate="taskManagement.taskGroup.update.newHeader">Create new task group</h4>
    <h4 class="modal-title" [hidden]="isNew">
      {{ 'taskManagement.taskGroup.update.editHeader' | translate: { name: taskGroupToEdit?.name } }}
    </h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
      <label class="form-control-label" for="name" jhiTranslate="taskManagement.taskGroup.update.nameField">Name:</label>
      <input [disabled]="!isNew" [readOnly]="!isNew" type="text" id="name" formControlName="name" class="form-control" />

      <div *ngIf="taskGroup.get('name')!.invalid">
        <small class="form-text text-danger" *ngIf="taskGroup.get('name')?.errors?.required" jhiTranslate="taskManagement.error.required">
          This field is required!
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="description" jhiTranslate="taskManagement.taskGroup.update.descriptionField"
        >Description:</label
      >
      <quill-editor [placeholder]="''" id="description" formControlName="description"> </quill-editor>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="sqlCreateStatements" jhiTranslate="taskManagement.taskGroup.update.sqlCreateStatements"
        >SQL: Create-Table-Statements</label
      >
      <ngx-monaco-editor [options]="editorOptions" id="sqlCreateStatements" formControlName="sqlCreateStatements"></ngx-monaco-editor>
    </div>
    <div class="form-group">
      <label
        class="form-control-label"
        for="sqlInsertStatementsSubmission"
        jhiTranslate="taskManagement.taskGroup.update.sqlInsertIntoStatementsSubmission"
        >SQL: Insert-Into-Statements (Submission)</label
      >
      <ngx-monaco-editor
        [options]="editorOptions"
        id="sqlInsertStatementsSubmission"
        formControlName="sqlInsertStatementsSubmission"
      ></ngx-monaco-editor>
    </div>
    <div class="form-group">
      <label
        class="form-control-label"
        for="sqlInsertStatementsDiagnose"
        jhiTranslate="taskManagement.taskGroup.update.sqlInsertIntoStatementsDiagnose"
        >SQL: Insert-Into-Statements (Diagnose)</label
      >
      <ngx-monaco-editor
        [options]="editorOptions"
        id="sqlInsertStatementsDiagnose"
        formControlName="sqlInsertStatementsDiagnose"
      ></ngx-monaco-editor>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="courseManagement.form.cancel">Cancel</span>
      </button>
      <button type="submit" [disabled]="taskGroup.invalid || isSaving" class="btn btn-primary">
        <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
        <fa-icon *ngIf="!isSaving" icon="save"></fa-icon>&nbsp;<span jhiTranslate="courseManagement.form.save">Save</span>
      </button>
    </div>
  </div>
</form>
