<form (ngSubmit)="saveAsync()" [formGroup]="taskGroup">
  <div class="modal-header">
    <h4 class="modal-title" [hidden]="!isNew" jhiTranslate="taskManagement.taskGroup.update.newHeader">Create new task group</h4>
    <h4 class="modal-title" [hidden]="isNew">
      {{ 'taskManagement.taskGroup.update.editHeader' | translate: { name: taskGroupToEdit?.name } }}
    </h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
      <label class="form-control-label" for="name" jhiTranslate="taskManagement.taskGroup.update.nameField">Name:</label>
      <fa-icon
        icon="info-circle"
        ngbTooltip="{{ 'taskManagement.taskGroup.update.sqlNameInfo' | translate }}"
        placement="right"
        *ngIf="isSQLGroup"
      ></fa-icon>
      <input [disabled]="!isNew" [readOnly]="!isNew" type="text" id="name" formControlName="name" class="form-control" />

      <div *ngIf="taskGroup.get('name')!.invalid">
        <small class="form-text text-danger" *ngIf="taskGroup.get('name')?.errors?.required" jhiTranslate="taskManagement.error.required">
          This field is required!
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="description" jhiTranslate="taskManagement.taskGroup.update.descriptionField"
        >Description:</label
      >
      <quill-editor [placeholder]="''" id="description" formControlName="description"> </quill-editor>
    </div>
    <div class="form-group" *ngIf="isNew">
      <label class="form-control-label" for="taskGroupType" jhiTranslate="taskManagement.taskGroup.update.taskGroupType">Task type:</label>
      <select class="form-control" name="taskGroupType" id="taskGroupType" formControlName="taskGroupType" (change)="groupTypeChanged()">
        <option value="" disabled>{{ 'taskManagement.taskGroup.groupTypePlaceholder' | translate }}</option>
        <option *ngFor="let taskGroupType of taskGroupTypes" [ngValue]="taskGroupType">{{ taskGroupType.text | translate }}</option>
      </select>

      <div *ngIf="taskGroup.get('taskGroupType')!.invalid">
        <small
          class="form-text text-danger"
          *ngIf="taskGroup.get('taskGroupType')?.errors?.required"
          jhiTranslate="taskManagement.error.required"
        >
          This field is required!
        </small>
      </div>
    </div>
    <div class="form-group" *ngIf="isSQLGroup">
      <label class="form-control-label" for="sqlCreateStatements">
        {{ 'taskManagement.taskGroup.update.sqlCreateStatements' | translate }}
        <fa-icon
          icon="info-circle"
          ngbTooltip="{{ 'taskManagement.taskGroup.update.sqlCreateStatementsInfo' | translate }}"
          placement="right"
        ></fa-icon>
      </label>
      <ngx-monaco-editor [options]="editorOptions" id="sqlCreateStatements" formControlName="sqlCreateStatements"></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isSQLGroup">
      <label class="form-control-label" for="sqlInsertStatementsSubmission">
        {{ 'taskManagement.taskGroup.update.sqlInsertIntoStatementsSubmission' | translate }}
        <fa-icon
          icon="info-circle"
          ngbTooltip="{{ 'taskManagement.taskGroup.update.sqlInsertIntoStatementsSubmissionInfo' | translate }}"
          placement="right"
        ></fa-icon>
      </label>
      <ngx-monaco-editor
        [options]="editorOptions"
        id="sqlInsertStatementsSubmission"
        formControlName="sqlInsertStatementsSubmission"
      ></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isSQLGroup">
      <label
        class="form-control-label"
        for="sqlInsertStatementsDiagnose"
        jhiTranslate="taskManagement.taskGroup.update.sqlInsertIntoStatementsDiagnose"
        >SQL: Insert-Into-Statements (Diagnose)</label
      >
      <ngx-monaco-editor
        [options]="editorOptions"
        id="sqlInsertStatementsDiagnose"
        formControlName="sqlInsertStatementsDiagnose"
      ></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isXQueryGroup">
      <label class="form-control-label" for="sqlInsertStatementsDiagnose" jhiTranslate="taskManagement.taskGroup.update.diagnoseXML"
        >XQuery: XML for diagnose</label
      >
      <fa-icon
        icon="info-circle"
        ngbTooltip="{{ 'taskManagement.taskGroup.update.diagnoseXMLInfo' | translate }}"
        placement="right"
      ></fa-icon>
      <ngx-monaco-editor [options]="editorOptionsXML" id="diagnoseXML" formControlName="diagnoseXML"></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isXQueryGroup">
      <label class="form-control-label" for="sqlInsertStatementsDiagnose" jhiTranslate="taskManagement.taskGroup.update.submissionXML"
        >XQuery: XML for submit</label
      >
      <ngx-monaco-editor [options]="editorOptionsXML" id="submissionXML" formControlName="submissionXML"></ngx-monaco-editor>
    </div>
    <div class="form-group" *ngIf="isDLGGroup">
      <label class="form-control-label" for="sqlInsertStatementsDiagnose" jhiTranslate="taskManagement.taskGroup.update.datalogFacts"
        >Datalog: Facts</label
      >
      <fa-icon
        icon="info-circle"
        ngbTooltip="{{ 'taskManagement.taskGroup.update.datalogFactsInfo' | translate }}"
        placement="right"
      ></fa-icon>
      <ngx-monaco-editor [options]="editorOptionsDLG" id="datalogFacts" formControlName="datalogFacts"></ngx-monaco-editor>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="courseManagement.form.cancel">Cancel</span>
      </button>
      <button type="submit" [disabled]="taskGroup.invalid || isSaving" class="btn btn-primary">
        <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
        <fa-icon *ngIf="!isSaving" icon="save"></fa-icon>&nbsp;<span jhiTranslate="courseManagement.form.save">Save</span>
      </button>
    </div>
  </div>
</form>
