<form role="form" [formGroup]="assignmentForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="courseManagement.instances.overview.assignStudentsHeader">Adjust student assignments</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
  </div>

  <div class="modal-body">
    <ngx-spinner></ngx-spinner>
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
      <label class="form-control-label" for="students" jhiTranslate="courseManagement.instances.overview.assignStudentsLabel"
        >Students:</label
      >

      <ng-select
        #students
        formControlName="students"
        placeholder="{{ 'courseManagement.instances.overview.assignStudentsPlaceholder' | translate }}"
        id="students"
        [items]="availableStudents"
        bindValue="matriculationNumber"
        [multiple]="true"
        [closeOnSelect]="false"
        bindLabel="fullName"
        notFoundText="{{ 'courseManagement.instances.overview.assignStudentsNotFoundText' | translate }}"
      >
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input [ngModelOptions]="{ standalone: true }" id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> &nbsp;{{
            item.firstName + ' ' + item.lastName
          }}
        </ng-template>
      </ng-select>
    </div>
    <div class="form-group">
      <label class="form-control-label">
        {{ 'courseManagement.instances.overview.studentUploadLabel' | translate }}
        <fa-icon
          icon="info-circle"
          ngbTooltip="{{ 'courseManagement.instances.overview.studentUploadInfoTooltip' | translate }}"
          placement="right"
        ></fa-icon>
      </label>
      <div class="form-row">
        <div class="col-md-10">
          <input
            type="file"
            placeholder="Fileupload"
            accept=".csv,.CSV"
            [writeFile]="true"
            (change)="fileChanged()"
            class="form-control-file"
            id="csvFile"
            #csvFile
            formControlName="csvFile"
          />
        </div>
        <div class="col-md-2">
          <button
            [disabled]="!fileSelected"
            type="button"
            class="btn btn-secondary"
            (click)="removeFile()"
            jhiTranslate="courseManagement.instances.overview.csvReset"
          >
            Remove CSV file
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="courseManagement.form.cancel">Cancel</span>
    </button>

    <button type="submit" [disabled]="assignmentForm.invalid || isSaving" class="btn btn-primary">
      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="courseManagement.form.save">Save</span>
    </button>
  </div>
</form>
