<jhi-alert-error></jhi-alert-error>
<button type="button" class="btn btn-primary float-right" (click)="createNewCourse()">
    <fa-icon icon="plus"></fa-icon> <span jhiTranslate="courseManagement.createText">Create new course</span>
</button>
<h2 jhiTranslate="courseManagement.title">Courses</h2>
<ul class="list-group">
    <li *ngFor="let course of courses; index as idx; trackBy: trackIdentity" class="list-group-item">{{course.name}}
        <span class="float-right" [hidden]="!isUserAllowedToEdit(course.creator!)">
            <a (click)="editCourse(course)"><fa-icon icon="edit"></fa-icon></a>
            <a style="margin-left: 10px;"
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="deleteCourse(course)"
                [cancelText]="popoverCancelBtnText"
                [confirmText]="popoverConfirmBtnText">
                <fa-icon icon="trash"></fa-icon>
            </a>
        </span>
    </li>
</ul>
