<h2 jhiTranslate="">Courses</h2>
<ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in
        <span class="float-right">
            <a><fa-icon icon="edit"></fa-icon></a>
            <a style="margin-left: 10px;"><fa-icon icon="trash"></fa-icon></a>
        </span></li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>
