<button type="button" class="btn btn-secondary" (click)="navigateBack()" jhiTranslate="overview.student.back">Back</button>
<br />
<br />
<jhi-alert></jhi-alert>
<jhi-alert-error></jhi-alert-error>

<h4>{{ 'overview.student.tasks.headerText' | translate: { name: taskModel?.header } }}</h4>

<p *ngIf="exerciseSheetAlreadyClosed" class="text-red" jhiTranslate="overview.student.exerciseSheetTaskOverview.sheetOfTaskClosedText">
  This task's exercise sheet has already been closed!
</p>

<div class="row">
  <div class="col-8">
    <dl class="row-md task-details">
      <dt><span jhiTranslate="overview.student.tasks.header">Header</span></dt>
      <dd>{{ taskModel?.header }}</dd>

      <dt *ngIf="taskModel?.url"><span jhiTranslate="overview.student.tasks.link">Link</span></dt>
      <dd *ngIf="taskModel?.url">{{ taskModel?.url?.toString() }}</dd>

      <dt *ngIf="taskGroup?.description"><span jhiTranslate="overview.student.tasks.groupInstruction">Group-Instructions</span></dt>
      <dd *ngIf="taskGroup?.description"><span [innerHTML]="taskGroup?.description"></span></dd>

      <dt *ngIf="taskModel?.instruction"><span jhiTranslate="overview.student.tasks.instructions">Instructions</span></dt>
      <dd *ngIf="taskModel?.instruction"><span [innerHTML]="taskModel?.instruction"></span></dd>

      <dt *ngIf="uploadFileId !== -1"><span jhiTranslate="overview.student.tasks.file">File</span></dt>
      <dd *ngIf="uploadFileId !== -1">
        <jhi-file-download [fileId]="uploadFileId"> </jhi-file-download>
      </dd>

      <dt *ngIf="writerIndividualInstructionFileId !== -1">
        <span jhiTranslate="overview.student.tasks.randomWriterInstruction">Random Writer Instruction</span>
      </dt>
      <dd *ngIf="writerIndividualInstructionFileId !== -1">
        <jhi-file-download [fileId]="writerIndividualInstructionFileId"> </jhi-file-download>
      </dd>

      <dt *ngIf="calcIndividualInstructionFileId !== -1">
        <span jhiTranslate="overview.student.tasks.randomCalcInstruction">Random Calc Instruction</span>
      </dt>
      <dd *ngIf="calcIndividualInstructionFileId !== -1">
        <jhi-file-download [fileId]="calcIndividualInstructionFileId"> </jhi-file-download>
      </dd>

      <dt><span jhiTranslate="overview.student.tasks.difficulty">Difficulty</span></dt>
      <dd>
        <span>{{ getDifficultyI18nString(taskModel?.taskDifficultyId) | translate }}</span>
      </dd>

      <dt *ngIf="taskModel?.processingTime"><span jhiTranslate="overview.student.tasks.processingTime">Estimated processing time</span></dt>
      <dd *ngIf="taskModel?.processingTime">
        <span>{{ taskModel?.processingTime }}</span>
      </dd>

      <dt><span jhiTranslate="overview.student.tasks.creator">Creator</span></dt>
      <dd>
        <span>{{ taskModel?.creator }}</span>
      </dd>
    </dl>
    <div class="assignment-component">
      <jhi-assignment
        *ngIf="isDispatcherTask"
        (submissionUUIDReceived)="handleDispatcherUUID($event)"
        [exercise_id]="exercise_id"
        [diagnoseLevelWeighting]="diagnoseLevelWeighting"
        [task_type]="task_type"
        [submission]="submission"
        [points]="dispatcherPoints"
        [maxPoints]="maxPoints"
        [highestDiagnoseLevel]="diagnoseLevel"
      >
      </jhi-assignment>
    </div>
    <jhi-file-upload
      *ngIf="isUploadTask || isDispatcherTask"
      [fileId]="uploadTaskFileId"
      (fileAdded)="handleFileAddedAsync($event)"
      (fileRemoved)="handleFileRemovedAsync($event)"
      (fileModified)="handleFileMovedAsync($event[0], $event[1])"
      [disabled]="isSubmitted"
    >
    </jhi-file-upload>
    <jhi-file-upload
      *ngIf="isCalcTask"
      [fileId]="uploadCalcSubmissionFileId"
      (fileAdded)="handleCalcFileAddedAsync($event)"
      (fileRemoved)="handleCalcFileRemovedAsync($event)"
      (fileModified)="handleCalcFileMovedAsync($event[0], $event[1])"
      [disabled]="isSubmitted"
    >
    </jhi-file-upload>
    <div *ngIf="uploadCalcSubmissionFileId == -2">
      <small class="form-text text-danger" jhiTranslate="taskManagement.error.contentType">
        Please upload the correct content type of the file!
      </small>
    </div>

    <button
      *ngIf="!isDispatcherTask && !isCalcTask"
      type="button"
      class="btn btn-primary"
      style="margin-top: 10px"
      [disabled]="isSubmitted || isSaving || exerciseSheetAlreadyClosed"
      (click)="markTaskAsSubmittedAsync()"
    >
      <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
      <fa-icon *ngIf="!isSaving" icon="save"></fa-icon>&nbsp;<span *ngIf="!isSubmitted" jhiTranslate="overview.student.tasks.submit"
        >Submit</span
      >
      <span *ngIf="isSubmitted" jhiTranslate="overview.student.tasks.submitted">Submitted</span>
    </button>

    <td class="text-right" *ngIf="isCalcTask">
      <button
        *ngIf="isCalcTask"
        type="button"
        class="btn btn-primary"
        style="margin-top: 10px"
        [disabled]="uploadCalcSubmissionFileId == -1 || uploadCalcSubmissionFileId == -2"
        (click)="correctCalcTask()"
      >
        Diagnose
      </button>
      <button
        *ngIf="isCalcTask"
        type="button"
        class="btn btn-primary"
        style="margin-top: 10px"
        [disabled]="uploadCalcSubmissionFileId == -1 || uploadCalcSubmissionFileId == -2"
        (click)="submitCalcTask(); updateCalcTaskPoints()"
      >
        Submit
      </button>
    </td>
    <br />
    <ng-container *ngIf="calcCorrectionFeedback !== undefined">
      <span>{{ calcCorrectionFeedback }}</span>
      <br />
    </ng-container>
    <ng-container *ngIf="calcTaskPoints !== undefined">
      <span jhiTranslate="overview.student.tasks.calcTaskPointsDescription">Reached Points</span>
      <span>{{ calcTaskPoints }}</span>
    </ng-container>
  </div>
</div>
