<div class="container" xmlns="http://www.w3.org/1999/html">
  <fa-icon *ngIf="points !== 0" icon="check"></fa-icon>
  <p>{{ points }}/1</p>
  <form class="add-form" (ngSubmit)="onSubmit()">
    <br />
    <div [innerHTML]="assignment.assignment_text"></div>
    <br />
    <p>
      <label><strong>Your Solution:</strong></label>
    </p>
    <div class="editor" style="height: 500px">
      <ngx-monaco-editor
        style="height: 100%"
        [options]="editorOptions"
        name="submission"
        id="submission"
        [(ngModel)]="submission"
      ></ngx-monaco-editor>
    </div>
    <input type="submit" value="Submit" class="btn btn-block" />
  </form>
  <form class="add-form" (ngSubmit)="onDiagnose()">
    <input type="submit" value="Diagnose" class="btn btn-block" />
  </form>
  <p *ngIf="gradingReceived && hasErrors" [innerHTML]="gradingDto.report.error"></p>
  <p *ngIf="gradingReceived && hasErrors" [innerHTML]="gradingDto.report.description"></p>
  <br />
  <p *ngIf="gradingReceived && hasErrors">{{ gradingDto.report.hint }}</p>
  <p *ngIf="gradingReceived && !hasErrors"><strong>Congratulation, your solution is correct!</strong></p>
  <p *ngIf="gradingReceived && hasErrors"><strong>Your solution is not correct!</strong></p>
  <p *ngIf="gradingReceived" [innerHTML]="gradingDto.result"></p>
</div>
