<h4>{{ 'courseManagement.instances.overview.header' | translate: { courseName: courseName } }}</h4>

<jhi-alert-error></jhi-alert-error>
<jhi-alert></jhi-alert>

<button type="button" class="btn btn-primary" (click)="navigateBack()" jhiTranslate="courseManagement.instances.overview.back">Back</button>

<br />
<br />

<div class="table-responsive" *ngIf="items">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ 'courseManagement.instances.overview.name' | translate }}</th>
        <th>{{ 'courseManagement.instances.overview.year' | translate }}</th>
        <th>{{ 'courseManagement.instances.overview.term' | translate }}</th>
        <th>{{ 'courseManagement.instances.overview.studentCount' | translate }}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; trackBy: trackIdentity">
        <td>{{ item.name }}</td>
        <td>{{ item.year }}</td>
        <td>{{ getTermI18NStringFromURL(item.termId) | translate }}</td>
        <td>{{ item.studentCount }}</td>
        <td class="text-right">
          <div class="btn-group">
            <button type="button" class="btn btn-info btn-sm" (click)="showAssignExerciseSheetModalWindow(item)">
              <fa-icon icon="tasks"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="courseManagement.instances.overview.assignExerciseSheet"
                >Assign exercise sheet</span
              >
            </button>
            <button type="button" class="btn btn-info btn-sm" (click)="showAssignStudentsModalWindow(item)">
              <fa-icon icon="user-friends"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="courseManagement.instances.overview.assignStudents">Assign students</span>
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              mwlConfirmationPopover
              [popoverTitle]="deletePopoverTitle"
              [popoverMessage]="deletePopoverMessage"
              [cancelText]="deletePopoverCancelBtnText"
              [confirmText]="deletePopoverConfirmBtnText"
              placement="left"
              (confirm)="deleteCourseInstance(item)"
            >
              <fa-icon icon="trash"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="courseManagement.instances.overview.delete">Delete course instance</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="items">
  <div class="row justify-content-center">
    <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
  </div>

  <div class="row justify-content-center">
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="page"
      [pageSize]="itemsPerPage"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="transition()"
    ></ngb-pagination>
  </div>
</div>
