<div class="row" id="mainContainer" #mainContainer>
  <div>
    <div class="form-group">
      <label for="prioritySelection" id="priorityLabel">Priorität:</label>
      <input type="number" class="form-control" [(ngModel)]="priority" name="prioritySelection" id="prioritySelection" />
    </div>
  </div>
  <div class="btn-group text-right">
    <button type="button" class="btn btn-primary" (click)="save()">Speichern</button>
    <button type="button" class="btn btn-outline-dark" (click)="cancel()">Abbrechen</button>
  </div>
</div>
