#mainContainer {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
}

#priorityLabel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
