<h3 [hidden]="!isNewLearningGoal() || isParentGoalSet()" jhiTranslate="learningGoalManagement.newLearningGoalHeader">
  Create new learning goal
</h3>
<h3 [hidden]="isNewLearningGoal() || isParentGoalSet()" jhiTranslate="learningGoalManagement.updateLearningGoalHeader">
  Update learning goal
</h3>
<h3 [hidden]="!isParentGoalSet()" jhiTranslate="learningGoalManagement.createSubGoalHeader">Create sub goal</h3>
<form role="form" style="max-width: 500px" (ngSubmit)="save()" [formGroup]="learningGoalForm">
  <jhi-alert-error></jhi-alert-error>

  <div class="form-group">
    <label for="learningGoalName" jhiTranslate="learningGoalManagement.entity.name">Name:</label>
    <input
      [readOnly]="!isNewLearningGoal()"
      id="learningGoalName"
      name="learningGoalName"
      formControlName="learningGoalName"
      class="form-control required"
      type="text"
      #learningGoalName
    />

    <div
      *ngIf="
        learningGoalForm.get('learningGoalName')!.invalid &&
        (learningGoalForm.get('learningGoalName')!.dirty || learningGoalForm.get('learningGoalName')!.touched)
      "
    >
      <small
        class="form-text text-danger"
        *ngIf="learningGoalForm.get('learningGoalName')?.errors?.required"
        jhiTranslate="entity.validation.required"
      >
        This field is required.
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="learningGoalDescription" jhiTranslate="learningGoalManagement.entity.description">Description:</label>
    <quill-editor [placeholder]="''" id="learningGoalDescription" #learningGoalDescription formControlName="learningGoalDescription">
    </quill-editor>
  </div>
  <div class="form-check">
    <label class="form-check-label" for="privateGoal">
      <input class="form-check-input" type="checkbox" name="privateGoal" id="privateGoal" formControlName="privateGoal" />
      <span jhiTranslate="learningGoalManagement.entity.privateGoal">Private learning goal</span>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label" for="needVerification">
      <input class="form-check-input" type="checkbox" name="needVerification" id="needVerification" formControlName="needVerification" />
      <span jhiTranslate="learningGoalManagement.entity.needVerification">Additional goal achievement verification</span>
      <fa-icon icon="info-circle" ngbTooltip="{{ 'learningGoalManagement.needVerificationInfo' | translate }}" placement="right"></fa-icon>
    </label>
  </div>

  <br />
  <button type="submit" class="btn btn-primary" [disabled]="learningGoalForm.invalid">Save</button>
</form>
