<div>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="showHeader">
      {{ 'lecturerOverview.runSubmissionWindow.modalHeader' | translate: { student: matriculationNo } }}
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
  </div>
  <div class="assignment-component">
    <jhi-assignment
      [exercise_id]="submissionEntry.dispatcherId.toString()"
      diagnoseLevelWeighting="0"
      [task_type]="submissionEntry.taskType"
      [submission]="submissionEntry.submission"
      [points]="0"
      maxPoints="0"
      [showPoints]="false"
      [showDiagnoseBar]="false"
      [showSubmitButton]="false"
      [highestDiagnoseLevel]="3"
    ></jhi-assignment>
  </div>
</div>
