<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="showDiagnoseBar && !isBpmnTask">
        <label class="form-control-label">
          {{ 'dispatcherAssignment.assignment.feedbackLabel' | translate }}
          <fa-icon
            icon="info-circle"
            ngbTooltip="{{ 'dispatcherAssignment.assignment.feedbackInfo' | translate }}"
            placement="right"
            container="body"
          ></fa-icon>
        </label>
        <select class="form-control" [(ngModel)]="diagnoseLevelText">
          <option value="" disabled>{{ 'dispatcherAssignment.assignment.diagnoseLevelPlaceholder' | translate }}</option>
          <option *ngFor="let chosenDiagnoseLevel of diagnoseLevels" [ngValue]="chosenDiagnoseLevel">
            {{ chosenDiagnoseLevel | translate }}
          </option>
        </select>
      </div>
    </div>
    <div class="col d-flex justify-content-end">
      <div class="form-check form-switch">
        <input mdbCheckbox class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (click)="switchEditorMode()" />
        <label class="form-check-label" for="flexSwitchCheckDefault">Dark Theme</label>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showPoints">
    <div class="col d-flex justify-content-end">
      <fa-icon *ngIf="points > 0" icon="check"></fa-icon>
      <label>{{ points }}/{{ maxPoints }}</label>
    </div>
  </div>
  <br />
  <div>
    <strong
      ><label>
        {{ 'dispatcherAssignment.assignment.yourSolution' | translate }}
        <fa-icon
          icon="info-circle"
          ngbTooltip="{{ 'dispatcherAssignment.assignment.editorInfo' | translate }}"
          placement="right"
        ></fa-icon> </label
    ></strong>
  </div>
  <div class="editor" style="height: 500px">
    <ngx-monaco-editor
      style="height: 100%"
      [options]="editorOptions"
      name="submission"
      id="submission"
      [(ngModel)]="submission"
    ></ngx-monaco-editor>
  </div>

  <div *ngIf="showSubmitButton">
    <form class="add-form" (ngSubmit)="processSubmission('submit')">
      <input type="submit" value="Submit" class="btn btn-block" />
    </form>
  </div>

  <div>
    <form class="add-form" (ngSubmit)="processSubmission('diagnose')">
      <input type="submit" value="Diagnose" class="btn btn-block" />
    </form>
  </div>

  <div *ngIf="!isDroolsTask">
    <strong>
      <label *ngIf="gradingReceived && !hasErrors" jhiTranslate="dispatcherAssignment.assignment.congratulation"
        >Congratulation, your solution is correct!</label
      >
      <label *ngIf="gradingReceived && hasErrors" jhiTranslate="dispatcherAssignment.assignment.notCorrect"
        >Your solution is not correct!</label
      >
    </strong>
  </div>
  <div *ngIf="isDroolsTask">
    <strong>
      <label *ngIf="gradingReceived && !hasErrors" jhiTranslate="dispatcherAssignment.assignment.congratulation"
        >Congratulation, your solution is correct!</label
      >
      <label *ngIf="gradingReceived && hasErrors" jhiTranslate="dispatcherAssignment.assignment.notCorrectDrools"
        >Your solution is not entirely correct!
      </label>
    </strong>
  </div>

  <div *ngIf="gradingDto?.report?.error" [innerHTML]="gradingDto?.report?.error"></div>
  <div *ngIf="gradingDto?.report?.description" [innerHTML]="gradingDto?.report?.description"></div>
  <br />
  <div *ngIf="gradingDto?.report?.hint" [innerHTML]="gradingDto?.report?.hint"></div>
  <div *ngIf="gradingDto?.result" [innerHTML]="gradingDto?.result | safeHtml"></div>
</div>
