<jhi-alert-error></jhi-alert-error>

<button type="button" class="btn btn-primary float-right" (click)="createNewTask()">
    <fa-icon icon="plus"></fa-icon>
    <span jhiTranslate="taskManagement.createText">Create new task</span>
</button>
<h2 jhiTranslate="taskManagement.title">Courses</h2>
<div class="row">
    <div class="col-12  d-flex">
        <div class="ml-auto search-box">
            <input placeholder="{{ 'taskManagement.searchPlaceholder' | translate }}" style="max-width: 200px;"
                   type="text" class="form-control"
                   [(ngModel)]="filterString" (keyup)="performFiltering()">
        </div>
    </div>
</div>
<ul [hidden]="!entries.length" class="list-group" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="!hasNextPage" [infiniteScrollDistance]="0">
    <li *ngFor="let entry of entries; index as idx; trackBy: trackId" class="list-group-item">
        <span>{{entry.header}}</span>

        <span class="float-right">
            <a (click)="editTask(entry)"><fa-icon icon="edit"></fa-icon></a>
        </span>
    </li>
</ul>
<span [hidden]="entries.length > 0">
    {{'taskManagement.noItems' | translate}}
</span>
